Gallery
<br>
<% generate.forEach(color => { %>
    <div>
        <%= color.mainColor %> <%= color.amount %> <%= color.title %> <%= color.creator %>
        <%= color.allowSave %> <%= color.allowQuickSave %> <%= color.linkFacebook %> <%= color.linkInstagram %>
        <%= color.linkTwitter %>
    </div>
<% }) %> 