Gallery
<br>
<% generate.forEach(color => { %>
    <!-- Use if statement later -->
        <div>
            <%= color.color1 %> <%= color.color2 %> <%= color.color3 %> <%= color.color4 %> <%= color.color5 %> <%= color.color6 %> <%= color.color7 %> <%= color.amount %>
            <!-- Remove when done -->
            <form method="POST" action="/gallery/<%= color.id %>?_method=DELETE">
                <button type="submit">DELETE</button>
            </form>
        </div> 
    
<% }) %> 