<%- include('../partials/header.ejs') %>
<div class="gallery" id="gallery">
    <div class="button button-cta-ball open"><svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 0 25 25" width="50px" fill="var(--background-white)"><path d="M0 0h24v24H0V0z" fill="none" opacity=".87"/><path d="M17.51 3.87L15.73 2.1 5.84 12l9.9 9.9 1.77-1.77L9.38 12l8.13-8.13z"/></svg></div>
    <div class="search">
        <h2>Search</h2>
        <form method="GET" action="/gallery" autocomplete="off">
            <div class="div">
                <label for="creator">Creator</label>
                <input type="search" name="creator" value="<%= searchData.creator %>" id="creator">
            </div>
            <div class="div">
                <label for="title">Title</label>
                <input type="search" name="title" value="<%= searchData.title %>" id="title">
            </div>
            <div class="div">
                <label for="colors">Main Color</label>
                <input type="checkbox" id="colors" name="colors" value="y" onchange="blockColorS()">
                <label for="colors"><div class="must"><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 0 25 25" width="25px" fill="var(--background-orange)"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg></div></label>
                <input type="color" name="color" value="<%= searchData.color %>" id="color" style="cursor: not-allowed;" disabled>
            </div>
            <div class="div" style="justify-content: center;">
                <button type="submit" class="button button-cta" onclick="outro()"><svg xmlns="http://www.w3.org/2000/svg" height="37.5px" viewBox="0 0 25 25" width="37.5px" fill="var(--background-white)"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg></button>
            </div>
        </form>
        <h2>Must...</h2>
        <div class="div">
            <label for="MA">Amount</label>
            <input type="number" id="MA" onchange="selection()" max="7" min="0" value="0">
        </div>
        <div class="div">
            <label for="MAS">Allow save</label>
            <input type="checkbox" id="MAS" onchange="selection()">
            <label for="MAS"><div class="must"><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 0 25 25" width="25px" fill="var(--background-orange)"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg></div></label>
        </div>
        <div class="div">
            <label for="MAQS">Allow quick save</label>
            <input type="checkbox" id="MAQS" onchange="selection()">
            <label for="MAQS"><div class="must"><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 0 25 25" width="25px" fill="var(--background-orange)"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg></div></label>
        </div>
        <div class="div">
            <label for="MAG">Auto generate</label>
            <input type="checkbox" id="MAG" onchange="selection()">
            <label for="MAG"><div class="must"><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 0 25 25" width="25px" fill="var(--background-orange)"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg></div></label>
        </div>
        <div class="div">
            <label for="MFA">From Anraw</label>
            <input type="checkbox" id="MFA" onchange="selection()">
            <label for="MFA"><div class="must"><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 0 25 25" width="25px" fill="var(--background-orange)"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg></div></label>
        </div>
        <div class="div">
            <label for="MHC">Have color</label>
            <input type="checkbox" id="MHCC" onchange="selection()">
            <label for="MHCC"><div class="must"><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 0 25 25" width="25px" fill="var(--background-orange)"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg></div></label>
            <input type="color" id="MHC" onchange="selection()" disabled>
        </div>
        <div class="div">
            <label for="MLTI">Linked to Instagram</label>
            <input type="checkbox" id="MLTI" onchange="selection()">
            <label for="MLTI"><div class="must"><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 0 25 25" width="25px" fill="var(--background-orange)"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg></div></label>
        </div>
    </div>
    <div class="close"><svg xmlns="http://www.w3.org/2000/svg" height="37.5px" viewBox="0 0 25 25" width="37.5px" fill="var(--background-white)" class="button button-ncta-ball"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg></div>
    <% var x = 0 %>
    <% generate.forEach(color => { %> 
        <% if(color.posted){ %>
            <% var arrColor = [color.color1, color.color2, color.color3, color.color4, color.color5, color.color6, color.color7] %>
            <% x++ %>
            <div class="palette db">
                <div class="colors">
                    <input type="number" value="<%= color.amount %>" id="P<%= x %>" readonly>
                    <% for(var y = 0; y < color.amount; y++){ %>
                        <% if(arrColor[y] != null){ %>
                            <div id="P<%= x %>D<%= (y + 1) %>">
                                <input type="text" value="<%= arrColor[y] %>" id="P<%= x %>I<%= (y + 1) %>" readonly>                                                          
                                <% if(color.allowQuickSave){ %>
                                    <input type="text" value="<%= arrColor[y] %>" readonly onclick="copyPaletteColorCode('P<%= x %>C<%= (y + 1) %>')" id="P<%= x %>C<%= (y + 1) %>">
                                <% } %>
                            </div>
                        <% } %>
                    <% } %>
                </div>
                <div class="settings">
                    <div style="cursor: default; height: 50px; overflow: hidden;">
                        <input type="text" value="<%= color.title %>" readonly>
                        <br>
                        <input type="text" value="Created by <%= color.creator %>" readonly class="creator">
                    </div>
                    <div style="display: flex;">
                        <% if(color.linkInstagram){ %>
                            <div class="LTI"><a href="https://www.instagram.com/<%= color.accountInstagram %>" target="blank"><svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="var(--background)" d="M12.48 6.0675C8.93999 6.0675 6.05999 8.9475 6.05999 12.4875C6.05999 16.0275 8.93999 18.905 12.48 18.905C16.02 18.905 18.8975 16.025 18.8975 12.4875C18.9 8.9475 16.02 6.0675 12.48 6.0675ZM12.48 16.4575C10.29 16.4575 8.50999 14.6775 8.50999 12.4875C8.50999 10.2975 10.29 8.5175 12.48 8.5175C14.67 8.5175 16.45 10.2975 16.45 12.4875C16.45 14.6775 14.67 16.4575 12.48 16.4575ZM17.7275 0.125H7.23249C3.30999 0.125 0.117493 3.3175 0.117493 7.24V17.735C0.117493 21.6575 3.30999 24.85 7.23249 24.85H17.7275C21.65 24.85 24.8425 21.6575 24.8425 17.735V7.24C24.8425 3.3175 21.6525 0.125 17.7275 0.125ZM22.395 17.735C22.395 20.3075 20.3 22.4 17.7275 22.4H7.23249C4.65999 22.4 2.56749 20.3075 2.56749 17.735V7.24C2.56749 4.6675 4.65999 2.575 7.23249 2.575H17.7275C20.3 2.575 22.3925 4.6675 22.3925 7.24V17.735H22.395ZM18.9875 4.2125C18.0625 4.2125 17.3075 4.965 17.3075 5.8925C17.3075 6.8175 18.06 7.5725 18.9875 7.5725C19.9125 7.5725 20.6675 6.82 20.6675 5.8925C20.6675 4.965 19.9125 4.2125 18.9875 4.2125Z"/></svg></a></div>
                        <% } %>
                        <% if(color.allowSave){ %>
                            <div class="AS"><a href="/save/<%= color.id %>" onclick="outro()"><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 0 25 25" width="25px" fill="var(--background)"><g><rect fill="none" height="25" width="25"/></g><g><path d="M18,15v3H6v-3H4v3c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2v-3H18z M17,11l-1.41-1.41L13,12.17V4h-2v8.17L8.41,9.59L7,11l5,5 L17,11z"/></g></svg></a></div>
                        <% } %>
                    </div>
                </div>
            </div> 
        <% } %>    
    <% }) %> 
    <svg width="50" height="50" viewBox="0 0 250 250" fill="none" xmlns="http://www.w3.org/2000/svg" style="cursor: default;">
        <circle cx="125" cy="125" r="125" fill="var(--background)"/>
        <circle cx="32.8947" cy="32.8947" r="32.8947" fill="var(--background-white)"/>
        <circle cx="32.8947" cy="125" r="32.8947" fill="var(--background-orange)"/>
        <circle cx="32.8947" cy="217.105" r="32.8947" fill="var(--background-orange)"/>
        <circle cx="125" cy="32.8947" r="32.8947" fill="var(--background-orange)"/>
        <circle cx="125" cy="125" r="32.8947" fill="var(--background-orange)"/>
        <circle cx="125" cy="217.105" r="32.8947" fill="var(--background-white)"/>
        <circle cx="217.105" cy="32.8947" r="32.8947" fill="var(--background-white)"/>
        <circle cx="217.105" cy="125" r="32.8947" fill="var(--background-orange)"/>
        <circle cx="217.105" cy="217.105" r="32.8947" fill="var(--background-orange)"/>
        <path d="M213.775 214.339H209.855V225H207.219V214.339H203.352V212.203H213.775V214.339ZM218.732 212.203L222.02 221.484L225.289 212.203H228.752V225H226.106V221.502L226.37 215.464L222.916 225H221.105L217.66 215.473L217.924 221.502V225H215.287V212.203H218.732Z" fill="var(--background)"/>
    </svg>          
</div>
<%- include('../partials/footer.ejs') %>