<div class="post" id="post">
    <h2>Post setup</h2>
    <p>Here's your color palatte that others can see</p>
    <form method="POST" action="/post/<%= generate.id %>?_method=PUT" style="display: flex; flex-direction: column; align-items: center; width: 100%;" autocomplete="off">
        <div class="candidate-post">
            <div id="colors"></div>
            <div id="settings">
                <input type="text" maxlength="30" name="title" value="<%= generate.title %>" placeholder="Title, ex: The color of..." required>                
                <div><a href="https://instagram.com/" target="blank" id="II" style="display: none;"><svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="var(--background)" d="M12.48 6.0675C8.93999 6.0675 6.05999 8.9475 6.05999 12.4875C6.05999 16.0275 8.93999 18.905 12.48 18.905C16.02 18.905 18.8975 16.025 18.8975 12.4875C18.9 8.9475 16.02 6.0675 12.48 6.0675ZM12.48 16.4575C10.29 16.4575 8.50999 14.6775 8.50999 12.4875C8.50999 10.2975 10.29 8.5175 12.48 8.5175C14.67 8.5175 16.45 10.2975 16.45 12.4875C16.45 14.6775 14.67 16.4575 12.48 16.4575ZM17.7275 0.125H7.23249C3.30999 0.125 0.117493 3.3175 0.117493 7.24V17.735C0.117493 21.6575 3.30999 24.85 7.23249 24.85H17.7275C21.65 24.85 24.8425 21.6575 24.8425 17.735V7.24C24.8425 3.3175 21.6525 0.125 17.7275 0.125ZM22.395 17.735C22.395 20.3075 20.3 22.4 17.7275 22.4H7.23249C4.65999 22.4 2.56749 20.3075 2.56749 17.735V7.24C2.56749 4.6675 4.65999 2.575 7.23249 2.575H17.7275C20.3 2.575 22.3925 4.6675 22.3925 7.24V17.735H22.395ZM18.9875 4.2125C18.0625 4.2125 17.3075 4.965 17.3075 5.8925C17.3075 6.8175 18.06 7.5725 18.9875 7.5725C19.9125 7.5725 20.6675 6.82 20.6675 5.8925C20.6675 4.965 19.9125 4.2125 18.9875 4.2125Z"/></svg></a></div>
                <div><a href="/save" target="blank" id="IS"><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 0 25 25" width="25px" fill="var(--background)"><g><rect fill="none" height="25" width="25"/></g><g><path d="M18,15v3H6v-3H4v3c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2v-3H18z M17,11l-1.41-1.41L13,12.17V4h-2v8.17L8.41,9.59L7,11l5,5 L17,11z"/></g></svg></a></div>
            </div>
        </div>
        <div class="candidate-setup">
            <div class="div">
                <div style="margin: 12.5px 0px;display: flex; flex-direction: row; justify-content: space-between;">
                    <label for="creator" style="margin-right: 12.5px;">By</label>
                    <input type="text" maxlength="15" name="creator" value="<%= generate.creator %>" placeholder="Your name here" required id="creator">
                </div>
                <div style="margin: 12.5px 0px;display: flex; flex-direction: row; justify-content: space-between;">
                    <label for="allowSave">Allow save</label>
                    <input type="checkbox" name="allowSave" checked value="<%= generate.allowSave %>" id="allowSave" onchange="generateSetup()">
                    <label for="allowSave"><div class="setup"><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 0 25 25" width="25px" fill="var(--background)"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg></div></label>
                </div>
                <div style="margin: 12.5px 0px;display: flex; flex-direction: row; justify-content: space-between;">
                    <label for="allowQuickSave">Allow quick save</label>
                    <input type="checkbox" name="allowQuickSave" checked value="<%= generate.allowQuickSave %>" id="allowQuickSave" onchange="generateSetup()">
                    <label for="allowQuickSave"><div class="setup"><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 0 25 25" width="25px" fill="var(--background)"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg></div></label>
                </div>
                <div style="margin: 12.5px 0px;display: flex; flex-direction: row; justify-content: space-between;">
                    <label for="linkInstagram">Link my Instagram</label>
                    <input type="checkbox" name="linkInstagram" value="<%= generate.linkInstagram %>" id="linkInstagram" onchange="generateSetup()">
                    <label for="linkInstagram"><div class="setup"><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 0 25 25" width="25px" fill="var(--background)"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg></div></label>
                </div>
            </div>
            <div class="div">
                <div style="margin: 12.5px 0px; display: none;" id="AI">
                    <label for="accountInstagram">Your Instagram account</label>
                    <div style="display: flex; flex-direction: row; justify-content: space-between;" class="div">
                        <input type="text" name="accountInstagram" value="@<%= generate.accountInstagram %>" id="accountInstagram" style="border-radius: 25px 0px 0px 25px;" onkeyup="changeLink()">
                        <a href="https://instagram.com/" target="blank" class="button button-ncta" style="border-radius: 0px 25px 25px 0px;" id="CIA">Check</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <button type="submit" class="button button-cta" style="width: 750px; height: 75px;">Post color palette</button>
    </form>
    <br>
    <form method="POST" action="/post/<%= generate.id %>?_method=DELETE">
        <button type="submit" class="button button-lcta" onclick="sessionStorage.clear()" style="width: 750px; height: 75px;">Cancel & delete post</button>
    </form>
</div>