<div class="save" id="save" style="display: none;">
    <div class="head" id="head">
        <h2>Preview</h2>
        <% if(generate != null && generate.posted == false){ %>
            <p class="button button-cta" onclick="doneSave('open')">Done</p>
        <% } else { %>
            <p><a class="button button-cta" onclick="doneSave(); outro()" href="/gallery">Done</a></p>
        <% } %> 
    </div>
    <div class="body">
        <div class="setting" id="setting">
            <h3>Save style</h3>
            <div class="save-style">
                <input type="radio" name="style" id="CCC" checked onchange="switchSetting('CCC')">
                <label for="CCC"><div class="choice">Copy color code</div></label>
                <% if(generate != null && generate.posted == false){ %>
                    <input type="radio" name="style" id="IP" onchange="switchSetting('IP')">
                    <label for="IP"><div class="choice">Instagram post</div></label>
                <% } %>
                <input type="radio" name="style" id="PDFF" onchange="switchSetting('PDFF')">
                <label for="PDFF"><div class="choice">PDF file</div></label>
            </div>
            <h3 style="margin: 12.5px 0px;">Setting</h3>
            <div class="setting-choice">
                <div id="optionCCC"><p>Click icon to copy</p></div>
                <% if(generate != null && generate.posted == false){ %>
                    <div id="optionIP" style="display: none;">
                        <div>
                            <label for="NIPS">Slide</label>
                            <input type="number" id="NIPS" min="1" max="10" value="1" autocomplete="off" onchange="reloadSlide()">
                        </div>
                        <div id="slides" style="flex-direction: column;"></div>
                        <div style="flex-direction: column;">
                            <p>All color style</p>
                            <div class="all-color-style" style="width: 100%; margin: 6.25px 0px;">
                                <input type="radio" name="allColorStyle" id="horizontal" checked onchange="reloadSlide(horizontal)" value="horizontal">
                                <label for="horizontal"><div class="style">H</div></label>
                                <input type="radio" name="allColorStyle" id="vertical" onchange="reloadSlide(vertical)" value="vertical">
                                <label for="vertical"><div class="style">V</div></label>
                            </div>
                        </div>
                        <div style="flex-direction: column;">
                            <p>Colors info</p>
                            <div style="width: 100%;">
                                <label for="OCIIP1">Hex</label>
                                <input type="checkbox" id="OCIIP1" checked onchange="reloadSlide(OCIIP1)" value="OCIIP">
                                <label for="OCIIP1"><div class="option"><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 0 25 25" width="25px" fill="#0d0d0d"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg></div></label>
                            </div>
                            <div style="width: 100%;">
                                <label for="OCIIP2">RGB</label>
                                <input type="checkbox" id="OCIIP2" onchange="reloadSlide(OCIIP2)" value="OCIIP">
                                <label for="OCIIP2"><div class="option"><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 0 25 25" width="25px" fill="#0d0d0d"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg></div></label>
                            </div>
                            <div style="width: 100%;">
                                <label for="OCIIP3">HSL</label>
                                <input type="checkbox" id="OCIIP3" onchange="reloadSlide(OCIIP3)" value="OCIIP">
                                <label for="OCIIP3"><div class="option"><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 0 25 25" width="25px" fill="#0d0d0d"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg></div></label>
                            </div>
                        </div>
                        <div style="flex-direction: column;">
                            <label for="MIP">Message</label>
                            <textarea id="MIP" placeholder="Any message?" onchange="reloadSlide(MIP)"></textarea>
                        </div>
                        <div style="flex-direction: column;">
                            <label for="CIPC">Credit</label>
                            <input type="text" id="CIPC" placeholder="Your Instagram" onchange="reloadSlide(CIPC)">
                        </div>
                        <div style="flex-direction: column;">
                            <p>Hashtag</p>
                            <div style="display: flex; align-items: center;">
                                <input type="text" id="HIP" style="border-radius: 25px 0px 0px 25px; width: 75%; height: 50px;">
                                <label for="HIP" onclick="copyColor(HIP)" style="width: 25%; height: 50px; background: var(--background-orange); border-radius: 0px 25px 25px 0px; display: flex; align-items: center; justify-content: center;"><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 0 25 25" width="25px" fill="var(--background-white)"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"/></svg></label>
                            </div>
                        </div>
                    </div>
                <% } %>
                <div id="optionPDFF" style="display: none;">
                    <div style="flex-direction: column;">
                        <label for="TPDFF">Title</label>
                        <input type="text" id="TPDFF" placeholder="File title" onkeyup="fillText('title')">
                    </div>
                    <div style="flex-direction: column;">
                        <label for="OPDFF">Opening</label>
                        <textarea id="OPDFF" placeholder="File opening" onkeyup="fillText('opening')"></textarea>
                    </div>
                    <div style="flex-direction: column;">
                        <p>Example</p>
                        <div style="width: 100%;">
                            <label for="OEPDFF1">Colors</label>
                            <input type="checkbox" id="OEPDFF1" onchange="examplePDF()">
                            <label for="OEPDFF1"><div class="option"><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 0 25 25" width="25px" fill="var(--background)"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg></div></label>
                        </div>
                        <div style="width: 100%;">
                            <label for="OEPDFF2">Bar chart</label>
                            <input type="checkbox" id="OEPDFF2" onchange="examplePDF()">
                            <label for="OEPDFF2"><div class="option"><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 0 25 25" width="25px" fill="var(--background)"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg></div></label>
                        </div>
                        <div style="width: 100%;">
                            <label for="OEPDFF3">Line chart</label>
                            <input type="checkbox" id="OEPDFF3" onchange="examplePDF()">
                            <label for="OEPDFF3"><div class="option"><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 0 25 25" width="25px" fill="var(--background)"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg></div></label>
                        </div>
                        <div style="width: 100%;">
                            <label for="OEPDFF4">Pie chart</label>
                            <input type="checkbox" id="OEPDFF4" onchange="examplePDF()">
                            <label for="OEPDFF4"><div class="option"><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 0 25 25" width="25px" fill="var(--background)"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg></div></label>
                        </div>
                    </div>
                    <div style="flex-direction: column;">
                        <label for="CPDFF">Closing</label>
                        <textarea id="CPDFF" placeholder="File closing" onkeyup="fillText('closing')"></textarea>
                    </div>
                </div>
                <br>
                <h5 style="text-align: center; display: none; margin-left: -25px;"></h5>
                <br>
                <div class="save-file"><button class="button button-cta" id="saves" style="display: none;">Save</button></div>
            </div>
        </div>
        <div class="preview" id="preview">
            <% if(generate != null){ %> 
                <input type="text" id="PI1" value="<%= generate.color1 %>">
                <input type="text" id="PI2" value="<%= generate.color2 %>">
                <input type="text" id="PI3" value="<%= generate.color3 %>">
                <input type="text" id="PI4" value="<%= generate.color4 %>">
                <input type="text" id="PI5" value="<%= generate.color5 %>">
                <input type="text" id="PI6" value="<%= generate.color6 %>">
                <input type="text" id="PI7" value="<%= generate.color7 %>">
                <input type="text" id="PI8" value="<%= generate.amount %>">
            <% } %> 
        </div>
    </div>
</div>
<% if(generate != null){ %> 
    <div id="backgroundPopup"></div>
    <div id="popup">
        <h2>Share to <a href="../gallery" target="blank">Gallery</a>?</h2>
        <div onclick="doneSave('close')">
            <svg xmlns="http://www.w3.org/2000/svg" height="37.5px" viewBox="0 0 25 25" width="37.5px" fill="var(--background-white)" class="button button-ncta-ball"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/></svg>            
        </div>
        <br>
        <p>Hey there! Do you want to share your color palette on the Gallery?</p>
        <p>It would be great if other people saw your amazing palette</p>
        <br>
        <a href="../post/<%= generate.id %>" class="button button-cta" onclick="sessionStorage.removeItem('temporaryCode'); outro()">Sure</a>
        <br>
        <form method="POST" action="/save/<%= generate.id %>?_method=DELETE">
            <button type="submit" class="button button-lcta" onclick="sessionStorage.clear(); outro()">Maybe later</button>
        </form>
    </div>
<% } %> 